/*Define Accordion box*/
.hs_accordion { width:100%; overflow:hidden; margin:10px auto; color:#474747; background:#414141; padding:10px; }

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.hs_accordion section:target { background:#FFF; padding:0px;}
.hs_accordion section:target:hover { background:#FFF; }
.hs_accordion section:target h2 {width:100%;}
.hs_accordion section:target h2 a{ color:#333; padding:0;}
.hs_accordion section:target p {display:block;}
.hs_accordion section div a{padding:20px 5px;display:block; font-weight:normal;color:#BDBDBD; text-decoration:none; font-size: 16px;}

/*set style of closed slide*/
.hs_accordion section{ float:left;overflow:hidden; color:#ccc; cursor:pointer; background: #333; margin:3px; }
.hs_accordion section:hover {background:#444;}
.hs_accordion section p { display:none; }
.hs_accordion section:after{position:relative;font-size:24px;color:#fff;font-weight:bold;}

/*End General Accordion****************************************************************************/


/*Vertical Accordion *************************************************************************/
.hs_vertical section{ width:100%; height:40px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.hs_vertical :target{ height:auto; width:99%; }

.hs_vertical section div { position:relative; left:0; top:-15px; }

/*Set position of the number on the slide*/
.hs_vertical section:after{ /*top:-60px;*/left:810px;}
.hs_vertical section:target:after{ left:-9999px;}

div.hs-faq-question{
	color:#000000;
	font-size:20px;
	border-bottom:1px solid;
	margin:0px 5px;
}
.hs-faq-answer{
	color:#000000;
	font-size:16px;
	margin:0px 20px;
	text-align:justify;
}
h3.hs-faq-category a{
	font-size:20px ;
}
h3.hs-faq-question{
	background-color: #CCCCB3;
        border-radius: 5px;
	padding: 5px;
}